




<div class="container access-denied-container">
    <div class="access-denied-box">
        <h1>403</h1>
        <p>Sorry, you do not have permission to access this page.</p>
        <a asp-controller="Home" asp-action="Index" class="btn-custom">Back to Homepage</a>
    </div>
</div>