<div class="text-center">
    <h1>Hoşgeldin, <span id="user-name">@User.Identity.Name</span>!</h1>
    <p class="lead">Kurs Satış Web Sitemize Hoşgeldiniz. Eğitici kurslarımıza göz atabilirsiniz.</p>
</div>