<div class="container text-center mt-5">
    <h1 class="display-4">Hoş Geldiniz!</h1>
    <p class="lead">En iyi mini kurslar burada!</p>
    <a href="/as.html" class="btn btn-primary">Hemen Kurslara Göz At</a>
</div>