<div class="text-center">
    <h1>Welcome, <span id="user-name">@User.Identity.Name</span>!</h1>
    <p class="lead">Welcome to our course sales website. You can browse our educational courses.</p>
</div>