<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_AdminImportPartial" />
</head>
<body class="d-flex flex-column min-vh-100">
    <!-- Navbar -->
    
    <partial name="_AdminNavbarPartial" />
    <!-- Main Content -->
    <div class="content">
        @RenderBody()
    </div>

    <!-- Footer -->
    <partial name="_AdminFooterPartial" />
    <partial name="_AdminImportJsPartial" />
    
</body>
</html>
