<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_ImportPartial"/>
</head>
<body class="d-flex flex-column min-vh-100">
    <!-- Navbar -->
    
    <partial name="_NavbarPartial" />
    <!-- Main Content -->
    <div class="container mt-5 flex-grow-1">
        @RenderBody()
    </div>

    <!-- Footer -->
    <partial name="_FooterPartial" />
    <partial name="_ImportJsPartial" />
    
</body>
</html>