<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">MainPage</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" asp-controller="Course" asp-action="FilterCourseByCategory">Courses</a></li>
            </ul>
            <div class="d-flex align-items-center">
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="btn btn-outline-success me-2" type="button" asp-controller="Basket" asp-action="GetBasket" asp-route-id="@User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value">My Basket</a>
                }

                <div class="dropdown">


                    @if(!User.Identity.IsAuthenticated){
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="userMenu" data-bs-toggle="dropdown" aria-expanded="false">
                        Auth
                    </button>
                    }
                    @if(User.Identity.IsAuthenticated){
                        <button class="btn btn-secondary dropdown-toggle" style="text-align:center; font-weight:bold; font-size:normal; text-transform:uppercase; text-decoration:underline; type="button" id="userMenu" data-bs-toggle="dropdown" aria-expanded="false">
                        @User.Identity.Name
                    </button>
                    }
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenu">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li><a class="dropdown-item" asp-controller="Auth" asp-action="SignIn">Sign In</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" asp-controller="Auth" asp-action="SignUp">Sign Up</a></li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                <form asp-controller="Order" asp-action="GetOrderByUserId" method="get">
                                    <input type="hidden" name="userId" value="@User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value" />
                                    <button class="dropdown-item">My Orders</button>
                                </form>
                            </li>

                            @if (!User.IsInRole("admin"))
                            {
                                <li>
                                    <form asp-controller="Home" asp-action="AddAdminRole" method="post">
                                        <input type="hidden" name="UserId" value="@User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value" />
                                        <button class="dropdown-item">Add Admin Role</button>
                                    </form>
                                </li>
                            }

                            <li><a class="dropdown-item" asp-controller="Admin" asp-action="Index">Admin Page</a></li>

                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" asp-controller="Auth" asp-action="signOut">Sign Out</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
