<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- Global Settings -->
	<targets>
		<!-- Write logs to a file -->
		<target xsi:type="File" name="logfile" fileName="C:\Users\Lumos\Desktop\Bootcamp\MiniCourseSalesProject\MiniCourseSalesProject.Api\Logs\nlog-AspNetCore-all-${shortdate}.log" layout="${message}" />
	</targets>

	<rules>
		<!-- Log only ProblemDetails objects -->
		<logger name="MiniCourseSalesProject.Api.Controllers.CustomControllerBase" minlevel="Info" writeTo="logfile" />
		<!--<logger name="*" minlevel="Info" writeTo="logfile" />-->
	</rules>
</nlog>